@model Application.HumanResources.Queries.GetHumanResources.HumanResourcesVM

@{
    ViewBag.Title = "Human Resource Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Human Resource Management - Contact Management</h2>

@Html.Partial("_SearchFilter", new MVC.Models.PagingVM
{
    PageNumber = Model.PageNumber
})

<div class="clearfix">
    @Html.ActionLink("Add a new Human Resource", "Create", null, new { @class = "btn btn-primary pull-right" })
</div>

@Html.Partial("_HumanResourceList", Model.Items)

@Html.Partial("_Pagination", new MVC.Models.PagingVM
{
    PageNumber = Model.PageNumber,
    TotalPages = Model.TotalPages
})


@section scripts
{
    <script>
        $(function () {
            $(".deleteForm").submit(function () {
                return confirm("Are you sure you want to delete this User?");
            });
        });
    </script>
}
